/*Login*/
.groupedFields{
    margin-top : 150px;
    margin-left: -500px;
    text-align: center;
}
.CarLogo{
    width: 200px;
    height: auto;
    margin-left:200px;
}
.Mbutton{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 150px;
}
.formLogin{
    margin-top: 170px;
    display: flex;
    justify-content: center;
}
.Error{
    color: red;
}
button[type=submit]{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}

/*Managerlogin*/
.ManagerLogo{
    width: 65px;
    height: auto;
    margin-top: 150px;
    margin-bottom: 10px;
}
.ManagerT{
    text-align: center;
    margin-top: 1px;
}
.image{
    display: flex;
    justify-content: center;
}
.fieldME{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
input[type=text]{
    width: 20%;
    padding: 6px 10px;
    box-sizing: border-box;
}
input[type=password]{
    width: 20%;
    padding: 6px 10px;
    box-sizing: border-box;
}
.fname{
    margin-top: 4px;
    margin-right: 12px;
}
.lname{
    margin-top: 4px;
    margin-right: 17px
}
.M1button{
    display: flex;
    justify-content: center;
}
.field{
    margin-top: 5px;
}

/*Employee login*/
.EmployeeLogo{
    width: 65px;
    height: auto;
    margin-top: 170px;
    margin-bottom: 10px;
}
.EmployeeT{
    text-align: center;
    margin-top: 1px;
}
.ForgetPassword{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
/*ManagerDasboard*/

.ManagerHeading{
    margin-top: 10px;
    margin-bottom: -120px;
    text-align: center;
}

.Employee{
    width: 65px;
    height: auto;
    margin-top: 120px;
    margin-left: 250px;
}
.EmployeeText{
    text-decoration: none;
    margin-left: 240px;
    margin-top: 2px;
}
.EmployeeT1{
    text-decoration: none;
    color:midnightblue;
}
.Car{
    width: 95px;
    height: auto;
    margin-top: 50px;
    margin-left: 242px;
}
.CarText{
    margin-left: 275px;
    margin-top: -2px;
}
.CarT{
    text-decoration: none;
    color:midnightblue;
}
.User{
    width: 75px;
    height: auto;
    margin-top: -250px;
    margin-left: 450px;
}
.UserText{
    margin-left: 465px;
    margin-top: -2px;
}
.UserT{
    text-decoration: none;
    color:midnightblue;
}
.Revenue{
    width: 95px;
    height: auto;
    margin-top: 35px;
    margin-left: 442px;
}
.RevenueText{
    margin-left: 425px;
    margin-top: -2px;
}
.RevenueT{
    text-decoration: none;
    color:midnightblue;
}

/* EmployeeMd */

.EmployeeMdHeading{
    text-align: center;
    margin-top: 50px;
}
.EmployeeMd{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.AddEmployeeB{
    display: flex;
    justify-content: center;
    margin: 0px 200px;
}

/* UserMd */

.UserMdHeading{
    text-align: center;
    margin-top: 50px;
}
.UserMd{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.AddUserB{
    display: flex;
    justify-content: center;
    margin: 0px 200px;
}

/* CarMd */

.CarMdHeading{
    text-align: center;
    margin-top: 50px;
}
.CarMd{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.AddCarB{
    display: flex;
    justify-content: center;
    margin: 0px 200px;
}

/* RevenueMd */

.RevenueMdHeading{
    text-align: center;
    margin-top: 50px;
}
.RevenueMd{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.AddRevenueB{
    display: flex;
    justify-content: center;
    margin: 0px 200px;
}